.filter-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    border: 2px solid #ccc;
}

.label {
    margin-right: 2%;
}

.label-2 {
    margin-right: 2%;
    margin-left: 2%;
}

.filter-dropdown{
    width: 20%;
}